body {
  background-color: rgba(245, 245, 245,.7);
  color: #0a0408;
  font-family: 'Questrial', sans-serif;
  margin: 0;
  padding: 0;
}

#appTitle {
  text-align: center;
  margin: 30px auto;
  font-family: 'Staatliches', sans-serif;
  font-size: 80px;
  background-color: #ffe695;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px; 
  border-radius: 2px; 
}

.title {
  color: rgba(255, 0, 0, 0.8);
  border-radius: 10px;
}


#genreForm,
#discoverMButton {
  text-align: center;
  margin: 30px auto;
  display: block;
  font-family: 'Fredoka One', sans-serif;
}
#movieInfo {
  margin: 32px auto;
  background-color: rgba(255, 0, 0, 0.7);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

img#moviePoster {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 10px;
}

#movieText {
  line-height: 1.5;
  padding: 20px;
}

#movieTitle,
#movieOverview {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

#discoverMButton {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
  padding: 5px 7px;
  border-radius: 10px;
  border: none;
  background-color: #ffe695;
  cursor: pointer;
  font-family: 'Fredoka One', sans-serif;
  transition: background-color 0.3s ease;
}

#discoverMButton:hover {
  background-color: #905f22;
}

label {
  padding-bottom: .2em; 
  color: rgba(255, 0, 0, 0.7);
  font-weight: bold; 
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
  font-family: 'Fredoka One', sans-serif;
}

select {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ffe695;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Fredoka One', sans-serif;
}

#likeOrDislikeBtns {
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
}

#likeBtn,
#dislikeBtn {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#likeBtn {
  background-color: #249e57;
  color: #fff;
  margin-right: 10px;
}

#dislikeBtn {
  background-color:rgba(255, 0, 0, 0.8);
  color: #fff;
}


@media only screen and (min-width: 768px) {
  #movieInfo {
    max-width: 50em;
    height: 26em;
    overflow: scroll; 
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
  }

  #moviePoster {
    max-width: 40%;
    float: none;
    max-height: 400px;
    padding-right: 1em;
  }

  #movieText {
    text-align: left;
    width: 60%;
  }

  #movieTitle {
    font-size: 40px;
    text-align: center;
  }
  #appTitle {
    font-size: 4.3em;
  }
}

@media (max-width: 650px) {
  #appTitle {
    font-size: 35px;
  }
  #movieTitle {
    font-size: 25px;
    text-align: center;
  }
}

@media only screen and (min-width: 640px) {
  #appTitle {
    font-size: 3.2em;
  }
}