* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  overflow-x: hidden;
  background-color: #DEF2F1;
  color: #edf6f9;
  font-family: 'Lato', 'Helvetica', 'Times New Roman', sans-serif;
}

p {
  line-height: 2em;
  letter-spacing: .03em;
}

h1 {
  font-weight: bolder;
  font-size: 3em;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

/* Navigation bar style */
.navbar {
  background-color: #DEF2F1;
  border-radius: 2%;
}

.navbar-nav a {
  color: #17252A;
  transition: color 0.3s ease-in-out;
}
.navbar-nav a:hover{
  border-radius: 5%;
  background-color: #17252A;
  color: #3AAfA9;
}

/* button styles */
.btn:hover, .learn-more-btn:hover {
  background-color: #17252A;
  color: #3AAfA9;
  transform: scale(1.1);
  transition: transform 0.3s linear;
}


.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(58, 175, 169,.9);
 */
  border-radius: 1%;
  color: #edf6f9;
  background-color: rgba(58, 175, 169,.9);
}

.about-me {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100;
  background-color: #edf6f9;
  color: #2B7A78;
  font-family: 'Helvetica', 'Times New Roman', sans-serif;
  font-size: 1em;
  padding-top: 1em;
  border-radius: 2%;
}

.picture-card {
  width: 280px;
  height: 400px;
  overflow: hidden;
  background-color: rgba(58, 175, 169,.9);
  border-radius: 10%;
}


.projects {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 175, 169,.9);
  color: #edf6f9;
  font-family: 'Helvetica', 'Times New Roman', sans-serif;
  font-size: 1em;
  padding-top: 1em;
  border-radius: 1%;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 27em;
  width: 22em;
  background-color: #17252A;
  color: #DEF2F1;
}

.card:hover {
  transform: scale(1.1);
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover .card {
  border-color: #2B7A78;
}

.card-text {
  font-size: .8em;
}


form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #3AAfA9;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}


/* Form complete */

button[type="submit"]{
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #17252A;
  color: #FEFFFF;
  font-size: 18px;
  transition: color 1s ease;
}

.learn-more-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #17252A;
  color: #FEFFFF;
  font-size: 18px;
  transition: color 1s ease;
}

.contact {
  background-color: #edf6f9;
  color: #2B7A78;
  font-family: 'Helvetica', 'Times New Roman', sans-serif;
  font-size: 1em;
  padding-top: 1em;
  border-radius: 2%;
}

.footer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 175, 169,.9);

  color: #edf6f9;
  font-family: 'Helvetica', 'Times New Roman', sans-serif;
  font-size: 1em;
  padding-top: 1em;
  border-radius: 2%;
}

/* githug and linkedlin icon styles */
.icon {
  height: 3em;
  width: 3em;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.3);
}
/*end githug and linkedlin icon styles */
.form-box-shadow {
  /* Add a box-shadow to the form */
  box-shadow: 0 5px 10px rgba(58, 175, 169,.9), 0 6px 20px rgba(58, 175, 169,.9);
  padding: 1em;
}

.binodpic{
  box-shadow: 0 5px 10px #edf6f9, 0 6px 20px rgba(58, 175, 169,.9);
  padding: 1em;
}

@media (max-width: 900px) and (min-width: 575px){
  .projects {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 175, 169,.9);
    color: #edf6f9;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
    font-size: 1em;
    padding-top: 1em;
    border-radius: 1%;
  }

  .img-fluid{
    width: 12em;
    height: 25em;
  }

  .aboutmeimage{
    border-radius: 30%;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 30em;
    width: 15em;
    background-color: #17252A;
    color: #DEF2F1;
  }

  h1 {
    font-weight: bolder;
    font-size: 2.8em;
  }

  .picture-card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-color: rgba(58, 175, 169,.9);
    border-radius: 10%;
  }

}

@media (max-width: 576px) {
  .container{
    overflow: hidden;
  }
  .picture-card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: rgba(58, 175, 169,.9);
    border-radius: 10%;
  }
  .img-fluid{
    width: 13em;
    height: 25em;
  }

  .aboutmeimage{
    border-radius: 50%;
  }

  .card {
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 28em;
    width: 85%;
    background-color: #17252A;
    color: #DEF2F1;
  }

  h1 {
    font-weight: bolder;
    font-size: 1.8em;
  }

  p {
    line-height: 2em;
    letter-spacing: .02em;
  }

}
@media (max-height: 630px) {
  .img-fluid{
    width: 15em;
    height: 25em;
    overflow: hidden;
  }
  .main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border-radius: 1%;
    color: #edf6f9;
    background-color: rgba(58, 175, 169,.9);
  }

}